<div class="container">
<nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top navbar-transparent">
    <a class="navbar-brand" href="/admin" style="color:beige;">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/admin/gamesetting"style="color:beige;">Game management</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/subjects"style="color:beige;">Problem management</a></li>
        <li class="nav-item"><a class="nav-link" href="/"style="color:beige;">return to home page</a></li>
      </ul>
    </div>
  </nav>
</div>